body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f9f9f9;
}

a {
  color: #00b7ff;
}

.title {
  font-size: 1.5rem;
  text-align: left;
}

.value {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: right;
}
